{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="grid grid-cols-1 md:grid-cols-9">


    <div class="col-start-2 col-span-7 p-4 min-h-screen flex flex-col">
        <div class="flex flex-col justify-start w-full self-center bg-zinc-200">
            <h1 class=" m-2 text-4xl font-bold w-fit text-gray-700 ">Create Your Certificate</h1>

            <div class="justify-self-start flex flex-col mx-2 mt-2 p-1 self-start">
                <form class="flex flex-col m-2" action="{% url 'certi' %}" method="post">
                    {% csrf_token %}
                    <label class="text-lg" for="name">Name on Certificate</label>
                    <input class="mb-2 h-[34px] rounded-sm p-2" name="name" type="text" placeholder="Name">
                    <label class="text-lg" for="signed_by">Signed By</label>
                    <input class="mb-4 h-[34px] rounded-sm p-2" name="signed_by" type="text" placeholder="Signee">
                    <button class="rounded-sm bg-green-500 hover:bg-green-600 focus:bg-green-500 mx-3 px-4 h-[38px]   text-white" type="submit">Generate Certificate</button>
                </form>
            </div>
            <h5 class="text-green-500 mx-2">{{message}}</h5>
            {% if certificate_id %}
                <h1 class="mx-2">Your Certificate ID {{certificate_id}}</h1>
            {% endif %}
            <div>
                
            </div>
            <div class="mx-2 p-1 self-start">
                {% if cert %}
                <h3>Name:  {{cert.name}}</h3>
                <h3>Signed By: {{cert.signed_by}}</h3>
                {% endif %}
            </div>
            <a href="{% url 'validate' %}">
                <button class="px-4 mx-3 mt-5 h-[38px] bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 self-start text-white rounded-sm" >Validate Certificate<button/>
            </a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</div>





{% if certificate_id %}
    <h1>Your Certificate ID {{certificate_id}}</h1>
{% endif %}




{% endblock %}

