{% extends 'layout.html' %}
{% load static %}

{% block content %}

<h2>Create Certificate</h2>

<h3>{{message}}</h3>

<form action="{% url 'certi' %}" method="post">
    {% csrf_token %}
    <label for="name" style="color:black;">Name on Certificate</label>
    <input name="name" type="text">
    <label for="signed_by" style="color:black;">Signed By</label>
    <input name="signed_by" type="text">
    <input type="submit">

</form>

{% if certificate_id %}
    <h1>Your Certificate ID {{certificate_id}}</h1>
{% endif %}

{% endblock %}

