{% extends 'layout.html' %}
{% load static %}
{% block content %}

<div class="grid grid-cols-1 md:grid-cols-9">


    <div class="col-start-3 col-span-5 p-4 min-h-screen flex flex-col">
        <div class="flex flex-col justify-start w-fit self-center">
            <h1 class=" m-2 text-center text-4xl font-bold text-gray-800 ">Validate Your Certificate</h1>

            <div class="justify-self-center mx-2 mt-2 p-1 self-center">
                {% if message %}
                    <h5 class="text-green-600 p-2 w-fit border-2 rounded-sm border-green-200 bg-green-50">{{message}}</h5>

                {% endif %}
                <form class="self-center justify-center flex flex-col md:flex-row h-[50px] py-2" action="{% url 'validate' %}" method="get">
                    <label class="text-lg text-black mr-2" for="certificate">Certificate ID</label>
                    <input class="h-full rounded-sm pt-1" name="certificate_id" type="text" placeholder="Paste certificate Id">
                    <button class="rounded-sm bg-green-400 hover:bg-green-500 focus:bg-green-600 mx-3 px-4 h-full text-white" type="submit">Validate</button>
                </form>
            </div>
            <div>
                <canvas id="canvas" class="m-3 w-[400px] h-[300px]" width="800px" height="600px"></canvas>
            </div>
            {% if cert %}
            <div class="mx-2 p-2 opacity-75 bg-white self-start">
                <div>
                    <h3 class="text-black">Name:  {{cert.name}}</h3>
                    <h3 class="text-black">Signed By: {{cert.signed_by}}</h3>
                </div>
            </div>
            {% endif %}
            <div class="flex justify-center p-2">
                <a href="{% url 'certi' %}">
                    <button class="px-2 mx-1 h-[38px] bg-amber-500 hover:bg-amber-600 focus:bg-amber-700 self-start text-white rounded-sm" >Create New Certificate<button/>
                </a>
                <button id="download" class="px-4 mx-1 h-[38px] w-fit bg-amber-500 hover:bg-amber-600 focus:bg-amber-700 self-start text-white rounded-sm" >Download</button>
                <a  href="{% url 'logout' %}">
                    <button class="px-4 mx-1 h-[38px] w-fit bg-amber-500 hover:bg-amber-600 focus:bg-amber-700 self-start text-white rounded-sm" >Logout</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script type="text/javascript">
        function image(value1, value2){
            let width = 1080
            let height = 720
            var img = new Image(100,100)
            img.src = "{% static '../static/images/certi1.jpeg' %}"
            canvas = document.querySelector('#canvas')
            canvas.width = width
            canvas.height = height
            ctx = canvas.getContext('2d')
            var hRatio = canvas.width  / img.width;
            var vRatio =  canvas.height / img.height;
            var ratio  = Math.min ( hRatio, vRatio );
            var centerShift_x = ( canvas.width - img.width) / 2;
            var centerShift_y = ( canvas.height - img.height) / 2; 

            ctx.clearRect(0,0,canvas.width, canvas.height);
            ctx.drawImage(img, 0,0, width, height);
            ctx.font = "30px Arial";
            ctx.fillText(`${value1}`, 460, 300)
            ctx.font = "30px Arial"
            ctx.fillText(`${value2}`, 700, 500)
        }

        function download(){
            canvas = document.querySelector("#canvas")
            canvas = canvas.toDataURL("png", 1.0)
            return canvas
        }

        function main(){
            image('{{cert.name}}', '{{cert.signed_by}}')

            downloadPdf = document.querySelector("#download")
            downloadPdf.addEventListener("click", function(){
            img = download()
            let pdf = new jsPDF({
                orientation: 'landscape',
                unit: 'px',
                format: [603, 415]
            })
            pdf.addImage(img, "JPEG", 0, 0)
            pdf.save("certificate.pdf")
       })
        }

        window.onload = main()

    </script>
{% endblock %}